@font-face {
    font-family: 'Playfair Display';
    src: url('https://fonts.gstatic.com/s/playfairdisplay/v22/nuFkD-vYSZviVYUb_rj3ij__anPXDTjYgFJh4OzWEO8I4kY.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Playfair Display', serif; /* Set Playfair Display as the default font */
}

#root {
    display: flex;
    justify-content: center;
    background: var(--tg-theme-bg-color);            
    color: var(--tg-theme-text-color);              
}

body {
    
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
/*     background: white;
    color: black; */
}
